<form>
  <fieldset>
    <legend>Upload your first video:</legend>

    <div class="form-group" id="newVideo">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [ngModel]="name" required>
    </div>

    <nz-upload class="avatar-uploader"
               [nzAction]="imageApi"
               nzName="image"
               nzListType="picture-card"
               [nzShowUploadList]="false"
               [nzBeforeUpload]="onBeforeUploadCover"
               (nzChange)="onCoverChange($event)">
      <ng-container *ngIf="!coverUrl">
        <i class="anticon anticon-plus"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
      <img *ngIf="coverUrl" [src]="coverUrl" class="avatar">
    </nz-upload>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" form="newVideo"></textarea>
    </div>

    <button type="submit" class="btn btn-success" (submit)="submit()">Submit</button>
  </fieldset>
</form>
