<header>
  <label for="languages">language:
    <select name="languages" id="languages" [(ngModel)]="language" (change)="switchLanguage()">
      <option [ngValue]="key" *ngFor="let key of keys">{{languages[key]}}</option>
    </select>
  </label>

  <ng-container *ngIf="authenticated; then loggedOut; else loggedIn">
  </ng-container>

  <ng-template #loggedOut>
    <a [routerLink]="" (click)="logout()">{{"Logout" | translate}}</a>
  </ng-template>

  <ng-template #loggedIn>
    <a [routerLink]="loginUrl" routerLinkActive="active">Login</a>
  </ng-template>
</header>
