<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ 'welcome' | translate }}!
  </h1>
</div>
<form>
  <label for="language">language:</label>
  <select name="switchLan" id="language" [(ngModel)]="language" (change)="switchLanguage()">
    <option selected="selected" value="en">English</option>
    <option value="es">Spanish</option>
  </select>
</form>
<nav>
  <ul>
    <li><a routerLink="login" routerLinkActive="active">Login</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
